#c {
  position: absolute;
  left:50%;
  margin-left: -130px;
}

.s {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}
.s:nth-child(n+2) {
  margin-left: 40px;
}

.s:nth-child(1) {
  background: #33ffbb;
  -webkit-animation: r0 1s 0s ease-out infinite;
  -moz-animation: r0 1s 0s ease-out infinite;
  animation: r0 1s 0s ease-out infinite;
}

@-webkit-keyframes r0 {
  0% {
    box-shadow: 0 0 4px 3px rgba(26, 255, 179, 0), 0 0 0px 0px #232323, 0 0 0px 0px rgba(26, 255, 179, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px #1affb3, 0 0 6px 5px #232323, 0 0 6px 7px #1affb3;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(26, 255, 179, 0), 0 0 0px 20px #232323, 0 0 0px 20px rgba(26, 255, 179, 0);
  }
}
@-moz-keyframes r0 {
  0% {
    box-shadow: 0 0 4px 3px rgba(26, 255, 179, 0), 0 0 0px 0px #232323, 0 0 0px 0px rgba(26, 255, 179, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px #1affb3, 0 0 6px 5px #232323, 0 0 6px 7px #1affb3;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(26, 255, 179, 0), 0 0 0px 20px #232323, 0 0 0px 20px rgba(26, 255, 179, 0);
  }
}
@keyframes r0 {
  0% {
    box-shadow: 0 0 4px 3px rgba(26, 255, 179, 0), 0 0 0px 0px #232323, 0 0 0px 0px rgba(26, 255, 179, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px #1affb3, 0 0 6px 5px #232323, 0 0 6px 7px #1affb3;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(26, 255, 179, 0), 0 0 0px 20px #232323, 0 0 0px 20px rgba(26, 255, 179, 0);
  }
}

.s:nth-child(2) {
  background: #33ffdd;
  -webkit-animation: r1 1s 0.125s ease-out infinite;
  -moz-animation: r1 1s 0.125s ease-out infinite;
  animation: r1 1s 0.125s ease-out infinite;
}

@-webkit-keyframes r1 {
  0% {
    box-shadow: 0 0 4px 3px rgba(26, 255, 217, 0), 0 0 0px 0px #232323, 0 0 0px 0px rgba(26, 255, 217, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px #1affd9, 0 0 6px 5px #232323, 0 0 6px 7px #1affd9;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(26, 255, 217, 0), 0 0 0px 20px #232323, 0 0 0px 20px rgba(26, 255, 217, 0);
  }
}
@-moz-keyframes r1 {
  0% {
    box-shadow: 0 0 4px 3px rgba(26, 255, 217, 0), 0 0 0px 0px #232323, 0 0 0px 0px rgba(26, 255, 217, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px #1affd9, 0 0 6px 5px #232323, 0 0 6px 7px #1affd9;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(26, 255, 217, 0), 0 0 0px 20px #232323, 0 0 0px 20px rgba(26, 255, 217, 0);
  }
}
@keyframes r1 {
  0% {
    box-shadow: 0 0 4px 3px rgba(26, 255, 217, 0), 0 0 0px 0px #232323, 0 0 0px 0px rgba(26, 255, 217, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px #1affd9, 0 0 6px 5px #232323, 0 0 6px 7px #1affd9;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(26, 255, 217, 0), 0 0 0px 20px #232323, 0 0 0px 20px rgba(26, 255, 217, 0);
  }
}

.s:nth-child(3) {
  background: #33ffff;
  -webkit-animation: r2 1s 0.25s ease-out infinite;
  -moz-animation: r2 1s 0.25s ease-out infinite;
  animation: r2 1s 0.25s ease-out infinite;
}
@-webkit-keyframes r2 {
  0% {
    box-shadow: 0 0 4px 3px rgba(26, 255, 255, 0), 0 0 0px 0px #232323, 0 0 0px 0px rgba(26, 255, 255, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px #1affff, 0 0 6px 5px #232323, 0 0 6px 7px #1affff;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(26, 255, 255, 0), 0 0 0px 20px #232323, 0 0 0px 20px rgba(26, 255, 255, 0);
  }
}
@-moz-keyframes r2 {
  0% {
    box-shadow: 0 0 4px 3px rgba(26, 255, 255, 0), 0 0 0px 0px #232323, 0 0 0px 0px rgba(26, 255, 255, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px #1affff, 0 0 6px 5px #232323, 0 0 6px 7px #1affff;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(26, 255, 255, 0), 0 0 0px 20px #232323, 0 0 0px 20px rgba(26, 255, 255, 0);
  }
}
@keyframes r2 {
  0% {
    box-shadow: 0 0 4px 3px rgba(26, 255, 255, 0), 0 0 0px 0px #232323, 0 0 0px 0px rgba(26, 255, 255, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px #1affff, 0 0 6px 5px #232323, 0 0 6px 7px #1affff;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(26, 255, 255, 0), 0 0 0px 20px #232323, 0 0 0px 20px rgba(26, 255, 255, 0);
  }
}

.s:nth-child(4) {
  background: #33ddff;
  -webkit-animation: r3 1s 0.375s ease-out infinite;
  -moz-animation: r3 1s 0.375s ease-out infinite;
  animation: r3 1s 0.375s ease-out infinite;
}

@-webkit-keyframes r3 {
  0% {
    box-shadow: 0 0 4px 3px rgba(26, 217, 255, 0), 0 0 0px 0px #232323, 0 0 0px 0px rgba(26, 217, 255, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px #1ad9ff, 0 0 6px 5px #232323, 0 0 6px 7px #1ad9ff;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(26, 217, 255, 0), 0 0 0px 20px #232323, 0 0 0px 20px rgba(26, 217, 255, 0);
  }
}
@-moz-keyframes r3 {
  0% {
    box-shadow: 0 0 4px 3px rgba(26, 217, 255, 0), 0 0 0px 0px #232323, 0 0 0px 0px rgba(26, 217, 255, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px #1ad9ff, 0 0 6px 5px #232323, 0 0 6px 7px #1ad9ff;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(26, 217, 255, 0), 0 0 0px 20px #232323, 0 0 0px 20px rgba(26, 217, 255, 0);
  }
}
@keyframes r3 {
  0% {
    box-shadow: 0 0 4px 3px rgba(26, 217, 255, 0), 0 0 0px 0px #232323, 0 0 0px 0px rgba(26, 217, 255, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px #1ad9ff, 0 0 6px 5px #232323, 0 0 6px 7px #1ad9ff;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(26, 217, 255, 0), 0 0 0px 20px #232323, 0 0 0px 20px rgba(26, 217, 255, 0);
  }
}

.s:nth-child(5) {
  background: #33bbff;
  -webkit-animation: r4 1s .5s ease-out infinite;
  -moz-animation: r4 1s .5s ease-out infinite;
  animation: r4 1s .5s ease-out infinite;
}

@-webkit-keyframes r4 {
  0% {
    box-shadow: 0 0 4px 3px rgba(26, 178, 255, 0), 0 0 0px 0px #232323, 0 0 0px 0px rgba(26, 178, 255, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px #1ab2ff, 0 0 6px 5px #232323, 0 0 6px 7px #1ab2ff;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(26, 178, 255, 0), 0 0 0px 20px #232323, 0 0 0px 20px rgba(26, 178, 255, 0);
  }
}
@-moz-keyframes r4 {
  0% {
    box-shadow: 0 0 4px 3px rgba(26, 178, 255, 0), 0 0 0px 0px #232323, 0 0 0px 0px rgba(26, 178, 255, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px #1ab2ff, 0 0 6px 5px #232323, 0 0 6px 7px #1ab2ff;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(26, 178, 255, 0), 0 0 0px 20px #232323, 0 0 0px 20px rgba(26, 178, 255, 0);
  }
}
@keyframes r4 {
  0% {
    box-shadow: 0 0 4px 3px rgba(26, 178, 255, 0), 0 0 0px 0px #232323, 0 0 0px 0px rgba(26, 178, 255, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px #1ab2ff, 0 0 6px 5px #232323, 0 0 6px 7px #1ab2ff;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(26, 178, 255, 0), 0 0 0px 20px #232323, 0 0 0px 20px rgba(26, 178, 255, 0);
  }
}

.s:nth-child(6) {
  background: #3399ff;
  -webkit-animation: r5 1s .625s ease-out infinite;
  -moz-animation: r5 1s .625s ease-out infinite;
  animation: r5 1s .625s ease-out infinite;
}

@-webkit-keyframes r5 {
  0% {
    box-shadow: 0 0 4px 3px rgba(26, 140, 255, 0), 0 0 0px 0px #232323, 0 0 0px 0px rgba(26, 140, 255, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px #1a8cff, 0 0 6px 5px #232323, 0 0 6px 7px #1a8cff;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(26, 140, 255, 0), 0 0 0px 20px #232323, 0 0 0px 20px rgba(26, 140, 255, 0);
  }
}
@-moz-keyframes r5 {
  0% {
    box-shadow: 0 0 4px 3px rgba(26, 140, 255, 0), 0 0 0px 0px #232323, 0 0 0px 0px rgba(26, 140, 255, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px #1a8cff, 0 0 6px 5px #232323, 0 0 6px 7px #1a8cff;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(26, 140, 255, 0), 0 0 0px 20px #232323, 0 0 0px 20px rgba(26, 140, 255, 0);
  }
}
@keyframes r5 {
  0% {
    box-shadow: 0 0 4px 3px rgba(26, 140, 255, 0), 0 0 0px 0px #232323, 0 0 0px 0px rgba(26, 140, 255, 0);
  }
  10% {
    box-shadow: 0 0 4px 3px #1a8cff, 0 0 6px 5px #232323, 0 0 6px 7px #1a8cff;
  }
  100% {
    box-shadow: 0 0 4px 3px rgba(26, 140, 255, 0), 0 0 0px 20px #232323, 0 0 0px 20px rgba(26, 140, 255, 0);
  }
}

.s1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
  background-color:#ff751a;
}
.s1:nth-child(n+2) {
  margin-left: 40px;
}
.s2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
  background-color:#ff1a1a;
}
.s2:nth-child(n+2) {
  margin-left: 40px;
}
.s3 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
  background-color:#ffcc00;
}
.s3:nth-child(n+2) {
  margin-left: 40px;
}
