#dataTable{
	width: 80vw;
	border-radius:3px;
	border: 1px solid #9A9FA2;
}
#dataTable * {
	font-size: 12px;
	font-family: Montserrat, sans-serif;
}
#dataTable #searchText{
	width:100px;
}
#dataTable #sessionNameText{
	width:120px;
}
#dataTable #topLeftDiv{
	float:left;
}
#dataTable #middleDiv{
	float:left;
}
#dataTable #topRightDiv{
	float:right;
}
#dataTable table{
	width: 100%;
	border-collapse: collapse
	margin: none;
}
#dataTable td {
	border: none;
}
#dataTable tr {
	border: none;
}
#dataTable div {
	border: none;
	margin: none;
}
#dataTable #thead{
	color:white;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	/* background-image: -webkit-linear-gradient(top, #446C79, #108CA2); */
	background-image: -webkit-linear-gradient(top, #656767, #9A9FA2);
	table-layout: fixed;
}
#dataTable #thead th{
	padding: 10px;
}
#dataTable #thead tr:first-child th{
	padding-bottom: 0;
}
#dataTable #thead tr:first-child th{
	padding-bottom: 0;
}
#dataTable #tbody{
	table-layout: fixed;
}
#dataTable #tbody td{
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
#dataTable #tbody td:focus{
	background-color: #ccf;
}
#dataTable #tbody td:hover{
	background-color: #eee;
	cursor: pointer;
}
#dataTable #tbody td:last-child{
	border-right: 0;
}

#dataTable #scrollDiv{
	overflow: auto;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	height: 300px;
	background-color: white;
}

#dataTable #tfoot{
	color:black;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	/* background-image: -webkit-linear-gradient(top, #446C79, #108CA2); */
	background-image: -webkit-linear-gradient(top, #656767, #9A9FA2);
}
#dataTable #tfoot th{
	padding: 10px;
}
#editText{
	position: absolute;
	padding: 0;
	border-size: 1px;
	visibility: hidden;
}
#editCombo{
	position: absolute;
	padding: 0;
	border-size: 1px;
	visibility: hidden;
}
.enabled {
	visibility: visible;
	width: 15px;
	height: 15px;
	position: relative; 
	top: 0;
	left: 50%; 
	transform: translateX(-50%);
	background-position: center; 
	background-repeat: no-repeat; 
	margin: none;
	background-size: 15px 15px;
}
